@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color_primario: #000000;
    --color_secundario: #F6F6F6;
    --color_terciario: #22d4fd;
    --fuente_montserrat: "Montserrat", sans-serif;
    --fuente_krona: "Krona One", sans-serif;
}

body{
    background-color: var(--color_primario);
    color: var(--color_secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente_montserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color_terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente_krona);
}

.titulo-destaque{
    color: #947aad;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente_montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-size: 24px;
    font-family: var(--fuente_krona);
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente_montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 2px solid var(--color_terciario);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color_primario);
}

.footer{
    background-color: var(--color_terciario);
    padding: 24px;
    color: black;
    text-align: center;
    font-family: var(--fuente_montserrat);
    font-weight: 400;
}